# Decision Tree Classifier

In [2]:
import pandas as pd

In [4]:
df = pd.read_csv('salaries.csv')
df.head()

  company                  job     degree  salary_more_then_100k
0  google      sales executive  bachelors                      0
1  google      sales executive    masters                      0
2  google     business manager  bachelors                      1
3  google     business manager    masters                      1
4  google  computer programmer  bachelors                      0

In [7]:
inputs = df.drop('salary_more_then_100k',axis='columns')
target = df['salary_more_then_100k']

In [10]:
from sklearn.preprocessing import LabelEncoder
le_company = LabelEncoder()
le_job = LabelEncoder()
le_degree = LabelEncoder()

In [11]:
inputs['company_n'] = le_company.fit_transform(inputs['company'])
inputs['job_n'] = le_company.fit_transform(inputs['job'])
inputs['degree_n'] = le_company.fit_transform(inputs['degree'])

In [16]:
input_n = inputs.drop(['company','job','degree'],axis='columns')
input_n.head()

   company_n  job_n  degree_n
0          2      2         0
1          2      2         1
2          2      0         0
3          2      0         1
4          2      1         0

In [18]:
from sklearn import tree
model = tree.DecisionTreeClassifier()

In [20]:
model.fit(input_n,target)

DecisionTreeClassifier()

In [21]:
model.predict([[2,2,0]])

array([0], dtype=int64)

In [22]:
model.score(input_n,target)

1.0