In [3]:
import pandas as pd
import numpy as np
from sklearn.linear_model import LinearRegression

In [5]:
df = pd.read_csv('homeprices.csv')
df.head()

   area  bedrooms  age   price
0  2600       3.0   20  550000
1  3000       4.0   15  565000
2  3200       NaN   18  610000
3  3600       3.0   30  595000
4  4000       5.0    8  760000

In [54]:
Median = df.bedrooms.median()
df.bedrooms =  df.bedrooms.fillna(Median)
df.head()

   area  bedrooms  age   price
0  2600       3.0   20  550000
1  3000       4.0   15  565000
2  3200       4.0   18  610000
3  3600       3.0   30  595000
4  4000       5.0    8  760000

In [28]:
x = df[['area','bedrooms','age']]
y = df['price']

In [32]:
model = LinearRegression().fit(x,y)
model

LinearRegression()

In [35]:
model.coef_

array([  112.06244194, 23388.88007794, -3231.71790863])

In [38]:
model.intercept_

221323.00186540408

In [51]:
model.predict([['2600','2.0','10']])

D:\Users\dell\anaconda3\lib\site-packages\sklearn\utils\validation.py:63: FutureWarning: Arrays of bytes/strings is being converted to decimal numbers if dtype='numeric'. This behavior is deprecated in 0.24 and will be removed in 1.1 (renaming of 0.26). Please convert your data to numeric values explicitly instead.
  return f(*args, **kwargs)

array([527145.9319845])

In [52]:
model.score(x,y)

0.9550196399325818